# twitch-game-notify config file

# This config file is looked for at
#
# - repository_base/config.yaml (if running from source)
# - $XDG_CONFIG_HOME/twitch-game-notify/config.yaml
#
# Note that if $XDG_CONFIG_HOME is not defined then $HOME/.config/ is
# used instead.

# How often to send queries to the Twitch API, in seconds. Note that
# each Twitch client is allowed 30 queries per minute (or a query every
# 0.5 seconds).
query-period: 3

# Twitch API authorization - see https://dev.twitch.tv/docs/api/
twitch-api-client-id: "p0gch4mp101fy451do9uod1s1x9i4a"
twitch-api-client-secret: "itqb0thqi5cek18ae6ekm7pbqvh63k"

# Streamers: a list of streamer login names, and for each, which
# games/game IDs to notify about
streamers:
  "shroud":
    include:
      - "Valorant" # notify me only when shroud plays Rainbow Six: Siege
  "hasanabi":
    include:
      - "*"        # notify me when Hasan plays any game
    exclude:
      - "Just Chatting"    # except for when he's Just Chatting
  "loltyler1":
    include:
      - "*"        # notify me when Tyler1 plays any game
    exclude:
      - "21779"    # except for League of Legends

# Ignore 502 "Bad Gateway" errors: these are going to occur somewhat
# randomly and don't necessarily mean anything is wrong. For "one-shot"
# usage you probably want to know when one of these occurs, so you'll
# know if your information is correct; for persistant usage, since the
# 502 errors are somewhat random, if one occurs, you'll likely get the
# information you want on the next cycle. I recommend that you leave
# these settings as is unless you're debugging a connectivity problem or
# some other issues.
ignore-502-errors-one-shot: false
ignore-502-errors-persistant: true
