# twitch-game-notify config file

# This config file is looked for at
#
# - repository_base/config.yaml (if running from source)
# - $XDG_CONFIG_HOME/twitch-game-notify/config.yaml
#
# Note that if $XDG_CONFIG_HOME is not defined then $HOME/.config/ is
# used instead.

# How often to send queries to the Twitch API, in seconds. Note that
# each Twitch client is allowed 30 queries per minute (or a query every
# 0.5 seconds). Worst case scenario, each streamer requires 3 queries
# per iteration (if the game name and streamer display name aren't
# cached). Best case scenario, each streamer requires 1 query per
# iteration.
query-period: 4

# Twitch API authorization - see https://dev.twitch.tv/docs/api/
twitch-api-client-id: "p0gch4mp101fy451do9uod1s1x9i4a"
twitch-api-client-secret: "itqb0thqi5cek18ae6ekm7pbqvh63k"

# Streamers: a list of streamer login names, and for each, which game
# IDs to notify about
streamers:
  "macie_jay":     # Macie_Jay
    include:
      - "460630"   # notify my when Macie plays Rainbow Six: Siege
  "moonmoon_ow":   # MOONMOON_OW
    include:
      - "*"        # notify me when Moon plays any game
    exclude:
      - "33214"    # except for Fortnite
  "shroud":
    include:
      - "*"
    exclude:
      - "493057"
      - "33214"
      - "493057"
  "loltyler1":
    include:
      - "*"
    exclude:
      - "21779"
