certifi==2020.12.5
chardet==4.0.0
charset-normalizer==2.0.7
contextlib2==0.6.0.post1
dbus-python==1.2.18
idna==2.10
notify2==0.3.1
pycairo==1.20.0
PyGObject==3.42.0
PyYAML==6.0
requests==2.26.0
schema==0.7.4
urllib3==1.26.3
